{% extends "base.html" %}
{% block title %}
My Dashboard | Welcome
{% endblock %}
{% block content %}
{% block fab %}

{% endblock %}
{{form1.category}} {{form1.show_projects}}
{% if current_user.register_as == "Educator"%}
<div style="display: table">
  <div style="display: table-row">
  <span style="width:15%; display: table-cell;">
  <h4>Category</h4>
  </span>
  <span style="width:10%; display: table-cell;">
  <h4>Title</h4>
  </span>
  <span style="width:10%; display: table-cell;">
  <h4>First Presenter</h4>
  </span>
  <span style="width:10%; display: table-cell;">
  <h4>Second Presenter</h4>
  </span>
  <span style="width:10%; display: table-cell;">
  <h4>Score</h4>
  </span>
  <span style="width:10%; display: table-cell;">
  <h4>Date Registered</h4>
  </span>
  <span style="width:10%; display: table-cell;">
  <h4>Date Presented</h4>
  </span>
  </div>

  {% for project in school_projects%}
<div style="display: table-row;">
<span style="width:15%; display: table-cell;">
{{ project.category }}
</span>
<span style="width:10%; display: table-cell;">
{{ project.title}}
</span>
<span style="width:10%; display: table-cell;">
{{ project.first_presenter}}
</span>
<span style="width:10%; display: table-cell;">
{{ project.second_presenter}}
</span>
<span style="width:10%; display: table-cell;">
{{ project.average_score}}
</span>
<span style="width:10%; display: table-cell;">
{{ project.date_registered}}
</span>
<span style="width:10%; display: table-cell;">
{{ project.date_presented}}
</span>
</div>
{% endfor %}
</div>
{% endif %}

{% endblock %}
