{% extends "base.html" %}
{% block title %}
My Dashboard | Welcome
{% endblock %}
{% block content %}
{% block fab %}

{% endblock %}
{% if current_user.register_as == "Educator"%}
<div style="display: table">
  <div style="display: table-row">
  <span style="width:10%; display: table-cell;">
  <h4>Sub-County</h4>
  </span>
  <span style="width:10%; display: table-cell;">
  <h4>School</h4>
  </span>
  <span style="width:10%; display: table-cell;">
  <h4>Fullname</h4>
  </span>
  <span style="width:10%; display: table-cell;">
  <h4>Approve</h4>
  </span>
  <span style="width:10%; display: table-cell;">
  <h4>Make School Representative</h4>
  </span>
  <span style="width:10%; display: table-cell;">
  <h4>Make Adjudicator</h4>
  </span>
  <span style="width:10%; display: table-cell;">
  <h4>Make Admin</h4>
  </span>
  </div>

  {% for teacher in teachers%}
<div style="display: table-row;">
<span style="width:10%; display: table-cell;">
{{ teacher.sub_county_name }}
</span>
<span style="width:10%; display: table-cell;">
{{ teacher.school }}
</span>
<span style="width:10%; display: table-cell;">
{{ teacher.fullname}}
</span>
{% if not teacher.is_approved %}
<span style="width:10%; display: table-cell;">
<h5><a href="{{ url_for('approve_teacher',id=teacher.id) }}"> Approve Teacher</a></h5>
</span>
{% else %}
<span style="width:10%; display: table-cell;">
<h5><a href="{{ url_for('unapprove_teacher',id=teacher.id) }}"> Approve Teacher</a></h5>
</span>
<span style="width:10%; display: table-cell;">
<h5><a href="{{ url_for('make_school_rep',id=teacher.id) }}">Make School Rep</a></h5>
</span>
<span style="width:10%; display: table-cell;">
<h5><a href="{{ url_for('make_adjudicator',id=teacher.id) }}">Make Adjudicator</a></h5>
</span>
<span style="width:10%; display: table-cell;">
<h5><a href="{{ url_for('make_admin',id=teacher.id) }}">Make Admin</a></h5>
</span>
<span style="width:10%; display: table-cell;">
{{ project.date_registered}}
</span>
<span style="width:10%; display: table-cell;">
{{ project.date_presented}}
</span>
<span style="width:10%; display: table-cell;">
<h5><a href="{{ url_for('adjudicate_project',project_id=project.project_id) }}"> Adjudicate Now</a></h5>
</span>
</div>
{% endfor %}
</div>
{% endif %}
{% endblock %}
