<!DOCTYPE html>
<html>
  <head>
      		<link rel="stylesheet" type="text/css" href="static/stylesheets/base.css" >
          <!--{% if title %}
    <title>KSEF Nairobi - {{ title }} -</title>
    {% else %}
    <title>KSEF Nairobi - The Home of Innovation</title>
    {% endif %}-->
		<meta name="viewport" content="witdh=device-width, initial-scale=1">
  </head>
  <body style="background-color: whitesmoke">
    <!--Navigation bar starts here -->
    <div style="background-color:#000033;height:100px;">

      <li style="list-style-type: none; padding-top: 40px" ><a href="{{ url_for('logout')}}" style="text-decoration:none; color: darkkhaki;margin-left: 90%"><b>LOGOUT</b></a></li>

    </div >
    <div style="background-color: whitesmoke; height:10px">

    </div>
    <div>
      <div style="background-color:#000033;min-height: 350px;width:20%;float: left; border-radius: 10px;">
             {% if current_user.register_as == "Student" %}
             <p><a href="{{url_for('dashboard')}}" style="text-decoration:none; color: white;margin-left: 25%">View Dashboard</a></p>
             <p><a href="{{url_for('myprojects')}}" style="text-decoration:none; color: white;margin-left: 25%">My Projects</a></p>
             {% elif current_user.register_as == "Educator" %}
             <p><a href="{{url_for('dashboard')}}" style="text-decoration:none; color: white;margin-left: 25%">View Dashboard</a></p>
             <p><a href="{{url_for('registered_students')}}" style="text-decoration:none; color: white;margin-left: 25%">Registered Students</a></p>
             <p><a href="{{url_for('school_projects')}}" style="text-decoration:none; color: white;margin-left: 25%">School Projects</a></p>

             <p><a href="{{url_for('adjudicate_projects')}}" style="text-decoration:none; color: white;margin-left: 25%">Adjudicate Projects</a></p>
             {% endif %}
      </div>
      <div style="background-color: whitesmoke;min-height: 350px;width:1%;float: left; border-radius: 10px;">

      </div>
      <div style="background-color: #187993;height:50px;width:79%;float: right; border-radius: 10px;">

      </div>

    </div>
    <!--Navigation bar ends here-->

    {% block content %}{% endblock %}
  </body>
</html>
